.basic-container {
    background-color: pink;
    display: flex;
    align-content: center;
}

.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #96858F;
    /*background-color: #6D7883; */
    position: sticky;
    position: -webkit-sticky; /*for safari*/
    top: 0;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: lightgray;
    color: black;
}

@media screen and (max-width: 600px) {
    .topNav, li {float: none;}
    li a {padding: 3px;}
}