.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #9099A2;
    margin: 10px;

    max-width: 600px;
    flex: 2;
}

.container {
    padding: 2px 16px;
}

.sidebar {
    flex: 1;
}
