{{landing}}
<div class="projects-container" layout-align='center none'>
<mat-card class="project">
    <mat-card-header>
        <mat-card-title>Project number 1</mat-card-title>
        <mat-card-subtitle>first project</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Projects</h3>
        <p>What's the deal with these project cards?!</p>
        <br>
        <p>It's a project about nothing!</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
    </mat-card-actions>
</mat-card>
</div> 

<app-project-card 
    name="first Project" 
    subTitle="subtitle" 
    description="description">
</app-project-card>
<app-project-card
    name="second Project"
    subTitle="subtitle 2"
    description="descritpion 2">
</app-project-card>