<div class="mat-app-background basic-container">
    <mat-card class="project">
        <mat-card-header>
            <mat-card-title>Project number 1</mat-card-title>
            <mat-card-subtitle>first project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>Projects</h3>
            <p>What's the deal with these project cards?!</p>
            <br>
            <p>It's a project about nothing!</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
        </mat-card-actions>
    </mat-card>

</div>
