body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  display: block;
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
}

header {
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}

#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navButton {
  float: right;
}